{% extends 'home-page.html' %}
{% block content %}
    <section id="login-page" class="login">
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Login Form</legend>
                {% csrf_token %}
                {{ form }}
                <input class="button submit" type="submit" value="Enter">
                <p>Don't have an account? <a href="{% url 'register-page' %}">Register</a></p>
            </fieldset>
        </form>

    </section>
{% endblock %}
